
{% include "./form_base.html" %}

<div class="container">

        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Czy jesteś pewien, że chcesz usunąć poniższy przepis? <strong>{{ object }}</strong> ?
            </div>
            <button type="submit" class="btn btn-danger">Usuń</button>
        </form>
    
    <h1> {{recipe.r_name }} </h1>
    <img src="{{ recipe.r_picture.url }}" alt="{{ recipe.r_name }}" />        
    <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Przygotowanie</h5>
                            <p class="card-text">{{recipe.r_opis}}</p>                        
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kategoria</h5>
                        <p class="card-text">{{recipe.r_category}}</p>
                    </div>
                </div>
            </div>
        </div>
</div>



  
