
{% include "./form_base.html" %}


<div class="container">

    <h1> {{recipe.r_name }} </h1>
    <img src="{{ recipe.r_picture.url }}"  />        
    {% block content %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Przygotowanie</h5>
                            <p class="card-text">{{recipe.r_opis}}</p>                        
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kategoria</h5>
                        <p class="card-text">{{recipe.r_category}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
</div>



  
