{% include "./form_base.html" %}


<div class="container">

<h2>{% block title %}Dane przepisu:{% endblock %}</h2>
<br>
{% load widget_tweaks %}

{% block content %}
<form method="post"novalidate enctype="multipart/form-data" >
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% else %}
        {% render_field field class="form-control is-valid" %}
        {% endif %}
        {% else %}
        {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}

        {% for step in steps_list %}
            <div class="invalid-feedback">
                {{ step.s_step_desc }}
            </div>
        {% endfor %}
    </div>
    {% endfor %}

    {% for form in formset %}
    <div class="row form-row spacer">
        <div class="col-2">
            <label>{{form.name.label}}</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                {{form.name}}
                <div class="input-group-append">
                    <button class="btn btn-success add-form-row">+</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <br>
    
    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>

    {% endblock %}
</div>