<html>
 
 <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CMS kulinarny</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Blog kulinarny</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new">Dodaj nowy przepis</a>
      </li>
      {% comment %} <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategorie</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-types">
                  {% for category in categories %}
                    <a class="dropdown-item" href="/categories?type={{category.c_name}}">{{ category.name }}</a>
                  {% endfor %}
                </div>
      </li> {% endcomment %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown-types" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Kategorie</a>
            <div class="dropdown-menu" aria-labelledby="dropdown-types">
              {% for c in categories %}
              <a class="dropdown-item" href="/categories?type={{c.c_name}}">{{ c.c_name }}</a>
              {% endfor %}
            </div>
          </li>

      
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/recipe/search" method="GET"> 
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search-parameter">
      <button class="btn btn-outline-success my-2 my-sm-0" role="button" >Wyszukaj</button>
    </form>
    <form class="form-inline my-2 my-lg-0" action="/recipe/logout">
      <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'logout' %}" role="button">Wyloguj się</a>
   </form>
  </div>
</nav>
<br>
<br>
<br>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>
</html>