{% include  "./form_base.html" %}

  {% comment %} <p><a href="{% url 'logout' %}">logout</a></p> {% endcomment %}

<div class="container">
  <div class="card-deck">
    {% if recipes_list %}
    {% for recipe in recipes_list %}
    {% if forloop.first %}
      <div class="row">
    {% endif %}
    <div class="card" >
        <img class="card-img-top" src="{{ recipe.r_picture.url }}" alt="{{ recipe.r_name }}">
      <div class="card-body">
        <h5 class="card-title" >
        <a href='recipe/{{ recipe.id }}/'> {{recipe.r_name}} </a></h5>
        <p class="card-text">Czas przygotowania {{ recipe.r_prepare_time}} minut </p>
        <p class="card-text">Czas wykonania {{ recipe.r_cook_time}} minut </p>
        <a href='/recipe/{{ recipe.id }}/delete'> Usuń </a></h5>
        <a href='/recipe/{{ recipe.id }}/edit'> Edytuj </a></h5>
      </div>
      {% comment %} <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> {% endcomment %}
    </div>
      {% if forloop.counter|divisibleby:3 and not forloop.first %}
      </div>
      <br>
      <br>
      <div class="row">
      {% endif %}
      {% if forloop.last %}
          </div>
      <br>
      <br>
      {% endif %}
    {% endfor %}
    {% else %}
    <p>Brak przepisów.</p>
    {% endif %}
  </div>
</div>