{% include "./registration_base.html" %}
{% block content %}

  <div class="container">
   <div class="sidenav">
         <div class="login-main-text">
            <h2>Zaloguj się lub zarejestruj aby zyskać dostęp.</h2>
         </div>
   <div class="main">
      <div class="col-md-6 col-sm-12">
         <div class="login-form">
               <form method="post">
               {% csrf_token %}
                   {% if form.non_field_errors %}
                     <div class="alert alert-danger" style="margin-bottom: 0" role="alert">
                        {% for error in form.non_field_errors %}
                        {{error}}
                        {% endfor %}
                     </div>
                     {% endif %}
                     <div class="form-group">
                        <label>Nazwa użytkownika</label>
                        <input type="text" class="form-control" placeholder="Nazwa użytkownika" name="username" autofocus autocapitalize="none" autocomplete="username"
                               maxlength="150" required id="id_username">
                     </div>
                     <div class="form-group">
                        <label>Hasło</label>
                        <input type="password" class="form-control" placeholder="Hasło" name="password" autocomplete="current-password" required
                                 id="id_password">
                     </div>
                  <button type="submit" class="btn btn-primary">Zaloguj się</button>
               </form>

                 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

            </div>
         </div>
      </div>
      </div>
   
{% endblock %} 